PORT=3000
ALLOWED_ORIGINS="http://localhost:3001,http://localhost:3002"

#DATABASE_URL="postgresql://postgres:123456@localhost:5432/authdb"
DATABASE_URL="postgresql://postgres:123456@auth-db:5432/authdb"

REDIS_URL="redis://auth-redis:6379"

RESEND_API_KEY = "re_LcTWtYos_CZttVe3R5CTwGa7rjEqc7mHy"
RESEND_FROM_EMAIL="onboarding@resend.dev"

JWT_SECRET = "HaNMoEx77HJU_4adRuyhMTmtiG3edarYF_rf="
JWT_REFRESH_SECRET = "CBkxoEK88HDL_8rdRxhJ8m2lo59edarQF="
JWT_ACCESS_EXPIRES_IN = "60m"
JWT_REFRESH_EXPIRES_IN = "15d"